body {
  background: black;
}

.widget {
  display: none;
  background: white;
  border-radius: 12px;
  border: 3px solid #ffeb00;
  transition: ease-in-out 0.3s;
  &:hover {
    border: 3px solid #ff00ca;
    transition: ease-in-out 0.3s;
  }
  button {
    cursor: pointer;
  }
  .button {
    padding: 10px 25px;
    font-weight: bold;
    color: black;
    background: yellow;
    border-radius: 10px;
    border: none;
    transition: ease-in-out 0.4s;
    &:hover {
      background: #ff00ca;
      transition: ease-in-out 0.4s;
    }
  }

  &_active {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 2%;
  }

  &__controls {
    position: absolute;
    top: 1%;
    right: 4%;
  }

  &__body {
    position: relative;
    width: 150px;
    height: 220px;
    transition: ease-in-out 0.3s;

    &_active {
      width: 300px;
      height: 460px;
      transition: ease-in-out 0.3s;
    }

    .widget-video {
      opacity: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      z-index: 1;
    }

    .widget-video.hidden {
      display: none;
    }

    .close-video-btn {
      position: relative;
      width: 24px;
      height: 24px;
      padding: 10px;
      border-radius: 40px;
      border: none;
      background: none;
      z-index: 3;

      &::before {
        content: '+';
        color: #ffffff;
        position: absolute;
        z-index: 4;
        transform: rotate(45deg);
        font-size: 33px;
        line-height: 1;
        top: -4px;
        left: 2px;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #ff00ca;
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
        transform: scale(0.01);
      }

      &:hover::before {
        transform: scale(0.8) rotate(45deg);
        color: #fff;
      }

      &:hover::after {
        transform: scale(1);
      }
    }

    .open-form-btn {
      position: absolute;
      bottom: 17%;
      left: 25%;
      visibility: hidden;
      z-index: -1;

      &_active {
        z-index: 3;
        visibility: visible;
        transition: ease-in-out 0.4s;
      }
    }
  }

  &__form-block {
    display: none;
    padding: 20px;

    &_active {
      display: block;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    .form-button {
      padding: 15px 20px;
    }
  }

  &__input {
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }

  .close-widget-form {
    cursor: pointer;
    text-align: center;
  }
}

.widget.hover-translate {
  cursor: pointer;

  &:hover {
    transform: translate(5px, -7px) scale(1.03);
    filter: drop-shadow(2px 4px 6px rgba(34, 60, 80, 0.60));
    transition: ease-in-out 0.3s;
  }
}
